*~
builddir/
.debhelper/
.potrans/
.vscode/settings.json
debian/debhelper-build-stamp
debian/files
debian/io.github.elly-code.wingpanel-indicator-places.substvars
debian/io.github.elly-code.wingpanel-indicator-places/DEBIAN/control
debian/io.github.elly-code.wingpanel-indicator-places/DEBIAN/md5sums
debian/io.github.elly-code.wingpanel-indicator-places/usr/lib/x86_64-linux-gnu/wingpanel/libwingpanel-indicator-places.so
debian/io.github.elly-code.wingpanel-indicator-places/usr/share/doc/io.github.elly-code.wingpanel-indicator-places/changelog.gz
debian/io.github.elly-code.wingpanel-indicator-places/usr/share/doc/io.github.elly-code.wingpanel-indicator-places/copyright
debian/io.github.elly-code.wingpanel-indicator-places/usr/share/glib-2.0/schemas/wingpanel-indicator-places.gschema.xml
debian/io.github.elly-code.wingpanel-indicator-places/usr/share/locale/de/LC_MESSAGES/wingpanel-indicator-places.mo
debian/io.github.elly-code.wingpanel-indicator-places/usr/share/locale/es/LC_MESSAGES/wingpanel-indicator-places.mo
debian/io.github.elly-code.wingpanel-indicator-places/usr/share/locale/fr/LC_MESSAGES/wingpanel-indicator-places.mo
debian/io.github.elly-code.wingpanel-indicator-places/usr/share/locale/ru/LC_MESSAGES/wingpanel-indicator-places.mo
debian/io.github.elly-code.wingpanel-indicator-places/usr/share/polkit-1/rules.d/10-enable-mount.rules
