Source: io.github.elly-code.wingpanel-indicator-places
Section: x11
Priority: optional
Maintainer: dirli <litandrej85@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               libglib2.0-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libwingpanel-dev,
               meson (>= 0.58),
               valac (>= 0.40.0)
Standards-Version: 1.0.0
Homepage: https://github.com/elly-code/wingpanel-indicator-places
Rules-Requires-Root: no

Package: io.github.elly-code.wingpanel-indicator-places
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Enhances: io.elementary.wingpanel
Description: Wingpanel places indicator for disks, volumes and places management
 Manage disks, volumes, places from the panel
